body{
    background-color : #33527a;
    opacity: 1;
    font-family: sans-serif;
    margin :0px;
    box-sizing: border-box;
}
.top{
    background-color:#2d4059 ;
    padding :10px;   
}
*{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-kerning :auto;
}


.subtitle{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color :#2d4059;

}


.title{
    padding-top: 30px;
    font-size: 60px;
    display : flex;
    flex-direction: row;
    justify-content: center;
    color :#decdc3;
    text-align: center;

}

.web1{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.input{
    width:370px;
    height: 50px;
    border-radius: 30px;
    display: block;
    transition: width 1s , height 0.5s;
    background-color: #e5e5e5;
    border :2px solid #2d4059; 
    box-shadow:4px 4px 6px #251f1c;
    
}
.input:hover{
    width:400px;
    height: 65px;
    transition: width 0.5s, height 0.5s;
    
}
.input div{
    width:200px;
    height:50px;
    background-color: #decdc3;;
    border-radius: 20px;
    border :2px solid #2d4059; 
}
.input1{
    width:240px;
    height: 55px;
    border-radius: 10px;
    display: block;
    transition: width 1s , height 0.5s;
    background-color: #2d4059;
    box-shadow:7px 7px 10px #251f1c;    
}

.input1:hover{
    width:270px;
    height: 70px;
    transition: width 0.5s, height 0.5s;
    border :2px solid #2d4059;
    background-color: #ea5455
}

.block1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.block1 div{
    width:420px;
    height:180px;
    background-color: #ea5455;
    border-radius: 15px;
    box-shadow:2px 2px 5px #c7beb9;
}
.block{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}
.block div{
    background-color: #decdc3;
    border-radius: 15px;
}



[placeholder]{
    font-size: 22px;
    color :#2d4059;
    text-align: center;
    letter-spacing: 0.1em;
    padding:5px;
}

.click{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}


.click div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

[value]
{
    font-size: 25px;
    color :#e5e5e5;
    text-align: center;
    letter-spacing: 0.1em;
    padding:5px;
}